################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/ServiceSystem2.0.csproj.nuget.dgspec.json
/obj/ServiceSystem2.0.csproj.nuget.g.targets
/obj/ServiceSystem2.0.csproj.nuget.g.props
/obj/Debug/net5.0/project.razor.vs.bin
/obj/Debug/net5.0/ServiceSystem2.0.AssemblyInfo.cs
/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/obj/Release/net5.0/ServiceSystem2.0.AssemblyInfo.cs
/obj/Release/net5.0/ServiceSystem2.0.AssemblyInfoInputs.cache
/obj/Release/net5.0/ServiceSystem2.0.assets.cache
/obj/Release/net5.0/ServiceSystem2.0.csproj.AssemblyReference.cache
/obj/Release/net5.0/ServiceSystem2.0.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cache
/obj/Release/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cs
/obj/Debug/net5.0/ServiceSystem2.0.AssemblyInfo.cs
/obj/Debug/net5.0/ServiceSystem2.0.AssemblyInfoInputs.cache
/obj/Debug/net5.0/ServiceSystem2.0.assets.cache
/obj/Debug/net5.0/ServiceSystem2.0.csproj.AssemblyReference.cache
/obj/Debug/net5.0/ServiceSystem2.0.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cache
/obj/Debug/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cs
/obj/Debug/net5.0/ServiceSystem2.0.AssemblyInfo.cs
/obj/Debug/net5.0/ServiceSystem2.0.AssemblyInfoInputs.cache
/obj/Debug/net5.0/ServiceSystem2.0.assets.cache
/obj/Debug/net5.0/ServiceSystem2.0.csproj.AssemblyReference.cache
/obj/Debug/net5.0/ServiceSystem2.0.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cache
/obj/Debug/net5.0/ServiceSystem2.0.RazorAssemblyInfo.cs
