﻿@{
    ViewData["Title"] = "RSS";
}

<div class="text-center">
    <h1 class="display-4">Serviço de atendimento</h1>
    <p>Área de pedidos, <a href="home/Pedidos">clique aqui</a>.</p>
    <p>Para inserir produtos ao estoque, <a href="home/Produtos">clique aqui</a>.</p>
